# Global ignores
.vault
.~lock.*
/.vimrc
/TODO
/tags
nohup.out

# Ignores for dotfiles repo
/.config/*
/.local/*
/.vim/.netrwhist
/.vim/sessions
/.vim/spell
/.vim/undo
/.vim/swap

# Exceptions
!/.config/dunstrc
