# Global ignores
.*.sw[op]
.svn/
.~lock.*
nohup.out

# Ignores for dotfiles repo
/.vim/undo
/.vim/.netrwhist
/.vim/spell
/.vim/sessions
/.subversion/*
/.config/*
/.mutt/cache
/.bin/*

# Exceptions
!/.config/terminator/config
!/.config/dunstrc
!/.subversion/config
