# Global ignores
.*.sw[op]
.vault
.~lock.*
/.vimrc
/TODO
/tags
nohup.out

# Ignores for dotfiles repo
/.bin/*
/.config/*
/.vim/.netrwhist
/.vim/sessions
/.vim/spell
/.vim/undo

# Exceptions
!/.config/dunstrc
