[alias]
    ci = commit
    co = checkout
    ffix = commit --amend --no-edit --all
    fix = commit --fixup HEAD
    grall = log --graph --oneline --decorate --all
    graph = log --graph --oneline --decorate
    supdate = !git submodule sync --recursive && git submodule update --init --recursive
    upcoming = !git graph ..origin/HEAD
    fgc = -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc --aggressive

[user]
    email = contact@leo-peltier.fr
    name = Léo Peltier

[diff]
    algorithm = patience
    renameLimit = 2048

[core]
    excludesfile = ~/.gitignore
    pager = less -RFXS -x4

[color]
    branch = auto
    diff = auto
    interactive = auto
    log = auto
    pager = true
    status = auto

[rebase]
    autosquash = true

[push]
    default = simple

[pull]
    ff = only

[advice]
    addIgnoredFile = false
    commitBeforeMerge = false
    detachedHead = false
    pushNonFastForward = false
    resolveConflict = false
    statusHints = false

[transfer]
    fsckobjects = true

[fetch]
    fsckobjects = true

[receive]
    fsckobjects = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[init]
	defaultBranch = master
